* {
    padding: 0;
    margin: 0;
}

header {
    z-index: 999;
}

ul {
    list-style: none;

}

nav {
    line-height: 50px;
}

.hd-lef {}

.hd-right {
    position: absolute;
    top: 0;
    right: 10px;
    height: 0;
    padding: 0;
}

.hd-right li a {
    /* padding: 0 10px; */
}

nav ul li {
    float: left;
    padding: 0 20px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    /* Firefox 4 */
    -webkit-transition: 0.5s;
    /* Safari 和 Chrome */
    -o-transition: 0.5s;
}

nav ul li:hover {
    background: violet;
    border-radius: 2px;

    transition: 0.5s;
    -moz-transition: 0.5s;
    /* Firefox 4 */
    -webkit-transition: 0.5s;
    /* Safari 和 Chrome */
    -o-transition: 0.5s;
}

nav p {}

header {
    width: 100%;
    position: relative;
    position: fixed;
}

.header-mid {
    position: relative;
    /* width: 100%; */
    margin: auto;
    padding: 0 20px;
    max-width: 1175px;
    background-color: rgba(56, 225, 255, 0.953);
    /* background-color: #ffffff; */
    height: 50px;
    box-shadow: 2px 4px 5px rgba(3, 3, 3, 0.2);
    border-radius: 10px;
    z-index: 999;
}
.hd{
    height: 600px;
}
.bd-logo {
    height: 100%;
    width: 100%;
    position:fixed;
    top:0;
    /* top:-229px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 2;
}

.background {
    background: url("1.jpg")
}

.bd-list {
    position: relative;
    margin: auto;
    max-width: 1200px;
    width: 90%;
    /* height: 1400px; */
    box-shadow: 5px 3px 3px 5px rgba(3, 3, 3, 0.2);
    border-radius: 10px;
    background: rgb(255, 234, 234);
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    /* flex-direction: row; */
    top: -200px;
    padding: 20px;
}

.bd-list-box {
    /* min-width: 25%; */
    /* min-height: 300px; */

}

.product {
    position: relative;
    background: rgb(255, 255, 255);
    margin: 10px;
    width: 23%;
    min-height: 400px;
    float: left;
}

.pd-img {
    position: relative;
    width: 92%;
    height: 70%;
    min-height: 200px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pd-log {
    width: 100%;
}

.pd-name {
    width: 80%;
    height: 40px;
    margin: 8px auto;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
    word-wrap:break-word; 
}

.pd-price {
    margin: 10px auto;
    text-align: center;
    line-height: 10px;
}

footer {
    height: 100px;
}

.bd-back {
    position: absolute;
    top: 500px;
    height: 2000px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment:fixed; */
    background-position: center;
}